/* --- General --- */
p a {
text-decoration: underline;
color: #1a1a1a;
}
h1,h2,h3,h4,h5,h6 {
font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-weight: 800;
}
a {
color: #1a1a1a;
}
a:hover,
a:focus {
color:  #666666;
}
